[submodule "tools/thtk"]
path = tools/thtk
url = https://github.com/thpatch/thtk
[submodule "tools/code/arc_conv_sandbox"]
path = tools/code/arc_conv_sandbox
url = https://github.com/amayra/arc_conv

[submodule "tools/135tk"]
path = tools/135tk
url = https://github.com/brliron/135tk
