# 只上传四个文件夹的内容：ShanghaiAlice/、Tasofro/、trees/、tools/
# 另外保留根目录的 README.md、LICENSE 和 .gitignore 本身

/*
!/ShanghaiAlice/
!/Tasofro/
!/trees/
!/tools/
!/README.md
!/LICENSE
!/.gitmodules
!/.gitignore

# 不上传 thbgm.dat 目录及其内容
thbgm.dat/

# 大型二进制/解包资源（不上传，仅保留结构占位）
*.png
*.jpg
*.jpeg
*.webp
*.tga
*.mp3
*.wav
*.pos
*.anm
*.rpy
*.bmb
*.m3r
*.spv
*.pak
*.cga
*.cgb
!Tasofro/**/unk_*
!ShanghaiAlice/th*/thbgm.dat/
!ShanghaiAlice/th07/thbgm.dat/**/*.wav
!ShanghaiAlice/th08/thbgm.dat/**/*.wav
!ShanghaiAlice/th095/thbgm.dat/**/*.wav
!ShanghaiAlice/th09/thbgm.dat/**/*.wav
!ShanghaiAlice/th10/thbgm.dat/**/*.wav
!ShanghaiAlice/th11/thbgm.dat/**/*.wav
!ShanghaiAlice/th12/thbgm.dat/**/*.wav
!ShanghaiAlice/th13/thbgm.dat/**/*.wav
!ShanghaiAlice/th14/thbgm.dat/**/*.wav
!ShanghaiAlice/th15/thbgm.dat/**/*.wav
!ShanghaiAlice/th16/thbgm.dat/**/*.wav
!ShanghaiAlice/th17/thbgm.dat/**/*.wav
!ShanghaiAlice/th18/thbgm.dat/**/*.wav
!ShanghaiAlice/th185/thbgm.dat/**/*.wav
ShanghaiAlice/th19/thbgm.dat/**/*.wav
ShanghaiAlice/th20/thbgm.dat/**/*.wav


# 只忽略同名文件，不忽略同名目录（保留目录结构与 .gitkeep）
!*.dat/
!*.pak/
!*.cga/
!*.cgb/
